body
{
  font-family: 'Open Sans',sans-serif;
  background-image: url(bg.png) !important;
  background-position: center top !important;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  background-size: 100%;
  padding-top: 7%;
  font-size: 16px;
  margin:0;
}

.tab {
  overflow: hidden;
  border: 1px solid #8da8ea;
  background-color: #8da8ea;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: #fff;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #1F3864;;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #1F3864;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 15px;
  border: 1px solid #ccc;
  border-top: none;
}

@media only screen and (max-width: 768px)
{
  .dialog
  {
    width: 95%;
  }
  .dialog h1, .dialog h2, .dialog h3
  {
    font-size: 3vw;
  }
  iframe
  {
    max-with: 95%;
  }
}
