body
{
  font-family: 'Open Sans',sans-serif!important;
  background-image: url(bg.png) !important;
  background-position: center top !important;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  background-size: 100%;
  padding-top: 7%;
  font-size: 16px;
  margin:0;
}

.container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.lab-box {
    width: 100%;
    position: relative;
    /* margin-top: 75%; */
    box-shadow: 1px 6px 10px 0px rgb(136 136 136 / 24%);
}

.lab-img.ratio4-3 {
    width: 100%;
    position: relative;
    padding-top: 60%;
}

.ratio4-3 a {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 0;
    overflow: hidden;
}

.ratio4-3 a img
{
    width:100%;
    height: 100%;
    object-fit: cover;
}

.lab-caption {
    padding: 20px;
    text-align: left;
}

.lab-caption h3
{
    color:#d8593a;
}

@media only screen and (max-width: 768px)
{
  .dialog
  {
    min-width: 90%;
  }
  .dialog h1, .dialog h2, .dialog h3
  {
    font-size: 3vw;
  }
  iframe, img
  {
    max-width: 95%;
  }
  .tablinks
  {
    width: 50%;
    box-sizing: border-box;
    text-align:left;
  }
}

@media only screen and (max-width: 600px)
{
  .tablinks
  {
    width: 100%;
    box-sizing: border-box;
    text-align:left;
  }
  
  .dialog h1, .dialog h2, .dialog h3, h1, h2, h3
  {
    font-size: 6vw;
  }
}
